{% extends "base.html" %}

{% block body %}

<section class="hm-sc" data-ng-controller="homeCtrl">
	<div class="js-hm-data">{{ customer_data }}</div>
	<div class="hm-c">
		<div class="customer-table">
			<div class="ct-row title-row">
				<div class="name">
					Name
				</div>
				<div class="address">
					Address
				</div>
			</div>
			<a data-ng-href="{[{::'/customer/' + customer.cid}]}" class="ct-row" data-ng-repeat="customer in customers">
				<div class="name" data-ng-bind="::customer.name"></div>
				<div class="address" data-ng-bind="::customer.address"></div>
			</a>
		</div>
	</div>
</section>

{% endblock %}