{% extends "base.html" %}

{% block body %}

<section class="ind-sc" ng-controller="indexCtrl">
	<div class="ind-c">
		<div class="main-btn-row">
			<div class="ind-btn btn-add" data-toggle="modal" data-target="#addNewModal">Add new Customer</div>
			<a href="/customers" class="ind-btn btn-view">View All Customers</a>
		</div>

		<div class="vp-block">
			<p class="vp-title">View Pending Payments</p>
			<label>Select Month</label>
			<br>
			<input type="text" class="form-control js-pending-date" placeholder="Click to select Month">
			<button class="btn btn-m vp-btn" ng-click="viewPending()">View</button>
		</div>

		<div class="search-block">
			<p class="search-title">
				Search
			</p>
			<label class="label-select">Search by: </label>
			<select ng-model="search.type">
				<option value="vcno">VC no.</option>
				<option value="name">Name</option>
				<option value="phone">Mobile No.</option>
			</select>
			<input type="text" class="form-control" ng-model="search.query" placeholder="Enter Search term">
			<button class="btn btn-m search-btn" ng-click="doSearch()">Search</button>
		</div>

		<div class="bottom-row">
			<div class="ind-btn btn-up-cost" data-toggle="modal" data-target="#updateCostModal">Update Monthly Charge</div>
		</div>

	</div>

	<div class="modal fade add-cust-modal" id="addNewModal" tabindex="-1" role="dialog" aria-labelledby="addNewModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="addNewModalLabel">Add New Customer</h4>
	      </div>
	      <div class="modal-body">
	      	<form class="add-new-form">
	      		<label>Vc No.</label>
	      		<input type="text" class="form-control" data-ng-model="customer.vc_no">

	      		<label>STB No.</label>
	      		<input type="text" class="form-control" data-ng-model="customer.stb_no">

	      		<label>Name</label>
	      		<input type="text" class="form-control" data-ng-model="customer.name">

	      		<label>Address</label>
	      		<input type="text" class="form-control" data-ng-model="customer.address">

	      		<label>Phone Number</label>
	      		<input type="text" class="form-control" data-ng-model="customer.phone">

	      		<label>Issue Date</label>
	      		<input type="text" class="form-control js-new-date">

	      		<label class="label-select">Customer type:</label>
	      		<select ng-model="customer.type">
	      			<option value="den">Den</option>
	      			<option value="siti">Siti</option>
	      		</select>
	      		<br>

	      		<label>Monthly Charge</label>
	      		<input type="text" class="form-control" data-ng-model="customer.monthly_charge">
	      	</form>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" data-ng-click="submitNewCustomer()">Add customer</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="modal fade add-cust-modal" id="updateCostModal" tabindex="-1" role="dialog" aria-labelledby="updateCostModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="addNewModalLabel">Update Monthly Charge</h4>
	      </div>
	      <div class="modal-body">
	      	<form class="add-new-form">
	      		<label>New Monthly Charge</label>
	      		<input type="number" class="form-control" data-ng-model="newMonthlyCharge">
	      	</form>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" data-ng-click="submitNewCharge()">Update Monthly Charge</button>
	      </div>
	    </div>
	  </div>
	</div>

</section>

{% endblock %}